html, body {
    height: 100%;
    margin: 0;
    background: #000;
}

html.pulse, body.pulse {
    animation: pulse 10s infinite linear;
}

@keyframes pulse {
    0%, 100% {
        background-color: red;
    }

    16% {
        background-color: yellow;
    }

    33% {
        background-color: limegreen;
    }

    50% {
        background-color: cyan;
    }

    66% {
        background-color: blue;
    }

    83% {
        background-color: magenta;
    }
}

html {
    height: calc(100% - 3px);
}

body > div:first-child {
    height: 100%;
}

canvas {
    position: relative;
    top: 2px;
    display: block;
    margin: 0 auto;
}
