html, body {
    height: 100%;
    margin: 0;
    background: #000;
}

html.pulse, html.pulse body {
    animation: pulse-exploration 20s infinite linear;
}

html.pulse.social, html.pulse.social body {
    animation: pulse-social 20s infinite linear;
}

html.pulse.combat, html.pulse.combat body {
    animation: pulse-combat 10s infinite linear;
}

@keyframes pulse-exploration {
    0%, 100% {
        background-color: darkcyan;
    }

    25% {
        background-color: darkseagreen;
    }

    50% {
        background-color: darkslateblue;
    }

    75% {
        background-color: darkslategray;
    }

    88% {
        background-color: darkolivegreen;
    }
}

@keyframes pulse-social {
    0%, 100% {
        background-color: darkred;
    }

    25% {
        background-color: darkgoldenrod;
    }

    50% {
        background-color: darkorange;
    }

    75% {
        background-color: darksalmon;
    }

    88% {
        background-color: darkmagenta;
    }
}

@keyframes pulse-combat {
    0%, 100% {
        background-color: red;
    }

    16% {
        background-color: yellow;
    }

    33% {
        background-color: limegreen;
    }

    50% {
        background-color: cyan;
    }

    66% {
        background-color: blue;
    }

    83% {
        background-color: magenta;
    }
}

html {
    height: calc(100% - 3px);
}

body > div:first-child {
    height: 100%;
}

canvas {
    position: relative;
    top: 2px;
    display: block;
    margin: 0 auto;
}
